.image-rectangle{
    position: relative;
    overflow:hidden; 
    text-align: center;
    /* margin-top: -95px;  */
    width: 100%;
    
}


.image-overtext{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(27, 27, 29);
} 

.image-overtext h2{
    font-size: 20px;
    /* margin: 0; */
}

.image-rectangle img{
    width: 100%;
    height:auto;
    object-fit: cover;
}

.about-us {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    
}

.about-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.about-text {
    padding-right: 20px;
    max-width: 400px;
    text-align: justify;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

