.container {
    min-height: 100%;
    height: auto;
    /* overflow-x: auto; */

}


.admin-element {
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 80%;
    text-align: center;

}

.admin-element:hover {
    background-color: lightgray;

}

#adminTable label {
    flex-grow: 1;
}

.button{
    font-size: 14px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #57CC99;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    color:  black;
}

.button.red {
    background-color: #CB5763;
}

.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.openPopup.button {
    z-index: 1;
}

.userInfo {
    border: 1px solid #ddd;
    border-radius: 8px;
    border-spacing: 0;
    margin-bottom: 5%;
}

.userInfo th, .userInfo td {
    text-align: center;
    padding: 12px;
}

.userInfo tr.header, .userInfo tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#addUser {
    margin-bottom: 1%;
}

#searchInput {
    font-size: 15px;
    outline:none;
    margin-bottom: 1%;
}

.filepath {
    color: black;
}

.filepath > i:hover {
    color: #57CC99;
}

/* .filepath:visited {
    color:  black;
}

.filepath:visited:hover {
    color:  #57CC99;
} */

#adminTable {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#adminTable table {
    margin-left: auto;
    margin-right: auto;
}

td.status-valid {
    color: #57CC99;
    font-weight: bold;
}

td.status-pending {
    color: #CB9957;
    font-weight: bold;
}

td.status-blocked {
    color: #CB5763;
    font-weight: bold;
}
