.container {
    height: 500px;
}


.admin-element {
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 80%;
    text-align: center;

}

.admin-element:hover {
    background-color: lightgray;

}

.userList-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#userList label {
    flex-grow: 1;
    margin-right: 10px;
}

