.container {
    height: 500px;
}


.admin-element {
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 80%;
    text-align: center;

}

.admin-element:hover {
    background-color: lightgray;

}

.admin-list {
    display: flex;
    flex-direction: row;
}

.user-list-header {
    word-spacing: 90px;
}

.user-data {
    display: flex;
    flex-direction: row;
}
