/* Estilo general de la aplicación */

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}


.alert.error{
    font-size: 14px;
    border-radius: 7px;
    color: darkred;
    border: 2px solid darkred;
    background-color: rgba(187, 33, 35, 0.541);
    padding: 4px;
    margin-bottom: 14px;
}

.alert.success{
    font-size: 14px;
    border-radius: 7px;
    color: darkblue;
    border: 2px solid darkblue;
    background-color: lightblue;
    padding: 4px;
    margin-bottom: 14px;
}


