/* Estilo general de la aplicación */

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
}

/* Estilo de mensajes de error */
.alert.error{
    font-size: 14px;
    border-radius: 7px;
    color: darkred;
    border: 2px solid darkred;
    background-color: rgba(187, 33, 35, 0.541);
    padding: 4px;
    margin-bottom: 14px;
}

.alert.success{
    font-size: 14px;
    border-radius: 7px;
    color: darkblue;
    border: 2px solid darkblue;
    background-color: lightblue;
    padding: 4px;
    margin-bottom: 14px;
}

.error-text{
    font-size: 11px;
    color: red;
    display: block;
}

/* Estilo de las ventanas modales */
.popup{
    display:none;
    position: fixed;
    z-index:1; /* que se coloque sobre la pagina */
    overflow: auto;/*scroll*/
    /* border-style: solid; */
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4);
 }

 .popupContent{
    background-color: white; /*Color del Popup*/
    margin: auto; /*Que se adapte al centro*/
    padding: 50px;
    border-radius: 15px;
    max-width: 500px;
    position: relative;
    width: 90%;
 }
 .closePopup {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;  /*Que se separe un poco la x del borde de la derecha*/
 }
 .closePopup:hover{
    color:black;
    cursor: pointer;
 }

