/* Estilo general de la aplicación */

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
}

/* Estilo de mensajes de error */
.alert.error{
    font-size: 14px;
    border-radius: 7px;
    color: darkred;
    border: 2px solid darkred;
    background-color: rgba(187, 33, 35, 0.541);
    padding: 4px;
    margin-bottom: 14px;
}

.alert.success{
    font-size: 14px;
    border-radius: 7px;
    color: darkblue;
    border: 2px solid darkblue;
    background-color: lightblue;
    padding: 4px;
    margin-bottom: 14px;
}

.error-text{
    font-size: 11px;
    color: red;
    display: block;
}

/* Estilo de las ventanas modales */
.popup{
    display:none;
    position: fixed;
    z-index:1; /* que se coloque sobre la pagina */
    overflow: auto;/*scroll*/
    /* border-style: solid; */
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    padding-top: 100px;
    width: 100%; /*quiero que se aplique a toda la página*/
    height: 100%; /*quiero que se aplique a toda la página*/
    background-color: rgba(0,0,0,0.4); /*color del fondo cuando salta el popup*/
}

.popupContent{
    background-color: #e7d9d9; /*Color del Popup*/
    margin: auto; /*Que se adapte al centro*/
    padding: 50px;
    border: 5px solid black;
    width: 50%;
}

.closePopup {
    color: white;
    float:right;
    font-size: 35px;
}

.closePopup:hover{/*Cuando pases el cursor se te cambie de color y dado que es un span que pase a ser un cursor y no una I*/
    color:black;
    cursor: pointer;
}
