footer{
    width: 100%;
    padding: 40px 0 ;
    background-color: #22577A;
}
/* .cont_footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:auto;
    margin-top:100px;
} */
footer .cop{
    display:flex;
    color: white;
    justify-content: end;
    align-items: end;
    padding-right: 50px;
}
footer .info{
    color:white;
    padding-left: 50px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.info a {
    color: white;
    padding-bottom: 5px;
}

footer a:hover, footer a > i:hover{
    color: #38A3A5;
    transition: 0.2s ease-in-out;

}

footer .redes{
    display:flex;
    justify-content: end;
    padding-right: 50px;
}
.redes i{
    font-size: 30px;
    padding:0 10px;
    align-items: end;
    color: white;
}
.logo{
    display:flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}

.logo.foot img {
    height: 200px;
}

