
header{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    min-width: 100%;
    background-color: #22577A;
    align-items: center;
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
}
.logo img{
    align-items: center;
    height: 60px;
    padding-left: 50px;
}

nav {
    padding-right: 50px;
}

nav a{
    color:azure;
    padding-left:10px;

}
nav img{
      border-radius: 50px;
}

nav > a:hover{
    color:  #38A3A5;
    transition: 0.2s ease-in-out;

}

@media (max-width:600px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }
}

/* Profile Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    right: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    margin-top: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content hr {
    color: lightgrey;
    width: 90%;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.show {display: block;}
