.container {
    min-height: 100%;
    height: auto;

}

.offer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
    width: 90%;
    height: 90vh;

}

@media (min-width: 600px) {
    .offer-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .my-offer-list > .offer-card {
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    .offer-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .my-offer-list > .offer-card {
        flex-direction: row;
    }
}

@media (min-width: 1500px) {
    .offer-list {
        grid-template-columns: repeat(5, 1fr);
    }
    .my-offer-list > .video-card {
        flex-direction: row;
    }
}

.my-offer-list {
    margin: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;

}

.offer-card {
    width: 100%;
    height: 125px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    margin-bottom: 20px;


}

.offer-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}





.buttons {
    display: flex;
    gap: 10px; /*Se puede tambien poner el margin en el .button pero este te pone el hueco entre cada uno de los elementos del div buttons*/
}



.offer-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    
   
    
}

.offer-info span:nth-child(3)::before {
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
}
.offer-info span:nth-child(4)::after {
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
}


p.description {
    resize: none;
    font-size: 16px;
    max-width: 400px;
    word-wrap: break-word;

}


.button{
    display: inline-block;
    padding: 10px 10px;
    background-color: #57CC99;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}


.button:hover {
    background-color: #5cdba4;
}

.search-bar {
    margin-top: 2%;
}


.search-input {
    padding-left: 10px;
    border-radius: 40px 0px 0px 40px;
    height: 30px;
    border: solid #cfcfcf 1px;
    outline:none;
}

.search-button {
    font-size: 14px;
    border-radius: 0px 40px 40px 0px;
    border: none;
    color: white;
    background-color: #57CC99;
    height: 34px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    float: right;
}

.salary-label {
    font-weight: bold;
    margin-right: 5px;
}
.description-label {
    font-weight: bold;
    margin-right: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    background-color:  #f3f3f3;
    padding: 25px;
    z-index: 1000;

}

.closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.openPopup:hover {
    cursor:pointer;
    color: #57CC99;
}





