.container {
    min-height: 100%;
    height: auto;

}

.offer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
    width: 90%;
    height: 90vh;
    
}

@media (min-width: 600px) {
    .offer-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .my-offer-list > .offer-card {
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    .offer-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .my-offer-list > .offer-card {
        flex-direction: row;
    }
}

@media (min-width: 1500px) {
    .offer-list {
        grid-template-columns: repeat(5, 1fr);
    }
    .my-offer-list > .video-card {
        flex-direction: row;
    }
}

.my-offer-list {
    margin: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: auto;
}

.offer-card {
    width: 90%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    
    
}

.offer-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}





.buttons {
    display: flex;
    gap: 10px; /*Se puede tambien poner el margin en el .button pero este te pone el hueco entre cada uno de los elementos del div buttons*/
}

.top-right-buttons {
    
    top: 20px; 
    right: 20px;
    position: absolute;
    display: flex;
    gap: 10px;
}

.stats {
    font-size: 20px;
    display: flex; 
    align-items: center; 
}

.stats span:nth-child(2)::after {
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
}
.stats span:nth-child(4)::after {
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
}




.buttons {
    display: flex;
    gap: 10px; /*Se puede tambien poner el margin en el .button pero este te pone el hueco entre cada uno de los elementos del div buttons*/
}

.view-button{
    display: inline-block;
    padding: 10px 10px;
    background-color: #57CC99;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}


.view-button:hover {
    background-color: #80ED99;
}


.download-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #57CC99;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}


.download-button:hover {
    background-color: #80ED99;
}

.edit-button{
    display: inline-block;
    padding: 10px 10px;
    background-color: #57CC99;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}


.edit-button:hover {
    background-color: #80ED99;
}


.button-chat {
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #57CC99;
    cursor: pointer;
    
    
}

.button-chat:hover {
    background-color: #80ED99;
}

.search-input {
    padding-left: 10px;
    border-radius: 40px 0px 0px 40px;
    height: 30px;
    border: solid #cfcfcf 1px;
    outline:none;
}

.search-button {
    font-size: 14px;
    border-radius: 0px 40px 40px 0px;
    border: none;
    color: white;
    background-color: #57CC99;
    height: 34px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    float: right;
}

.salary-label {
    font-weight: bold;
    margin-right: 5px; 
}
.description-label {
    font-weight: bold;
    margin-right: 5px; 
}


