body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38A3A5;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    padding-top: 0%;
}

form{
    display: flex;
    flex-direction: column;
    background:white;
    text-align: center;
    padding: 25px 50px;


}
form .titulo{
    color: black;
    margin-bottom: 25px;
    margin-top: 25px;
   font-size:40px;

}
form label{
    margin-bottom: 25px;

}

form label .fa-solid{
    margin-right: 10px;
    font-size: 20px;
    color: #CB5763;
}

form label input{
    border:none;
    outline: none;
    border-bottom: solid 1px black;
    font-size: 20px;
}

form label i {
    transition: color 0.3s ease-in-out;
}

form label .fa-solid.valid-color {
    color: #57CC99;
}

form a{
    margin-bottom: 10px;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
form a:hover{
   color:black;
}


.reg{

    margin-bottom: 10px;
   border-radius: 8px;
  border: none;
  color: white;
  background-color: #57CC99;
  padding: 5px;
  cursor: pointer;

}
.log{
   border-radius: 8px;
  border: none;
  color: white;
  background-color: #57CC99;
  padding: 5px;
  cursor: pointer;
}


#show-password {
  border-radius: 5px;
  background-color: #57CC99;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position:absolute;

}

#show {
  border-radius: 5px;
  background-color: #57CC99;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position:absolute;


}

#show-password:hover {
  background-color: #80ED99;
}

#show:hover {
    background-color: #80ED99;
}

button:hover{
    background-color: #80ED99;
}

